@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: Roboto;
    height: 100vh;
    margin: 0px;
}

ul,a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,.footer,.block-one {
    background: #1f2937;
}

.block-one-image {
    width: 600px; 
    height: 100%;
    background-color: rgb(148, 148, 148);
    color: white;
}

.block-two-image {
    width: 100px;
    height: 100px;
}

.block-three {
    background: #e5e7eb;
}

.blue {
    background: #3882f6;
    border-radius: 6px;
    color: #e5e7eb;
}

.hero {color: #f9faf8; margin: 0;}
.hero.title {font-size: 48px; font-weight: 900;}
.hero.logo {font-size: 24px;}

.sec-txt {font-size: 18px; color: #e5e7eb; margin: 0;}

.info {font-size: 36px; color: #1f2937; margin: 0;}
.info.quote {font-weight: lighter; font-style: italic;}
.info.title {font-weight: 900;}

.gray {color: #1f2937; margin: 0;}

.button {
    padding: 5px 30px 5px;
    border: 0px;
    font-weight: bold;
    font-size: 18px;
}

.button.one {
    margin-top: 10px;
}

.button.two {
    border: solid 1px;
}

/* flex implementation */

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.block-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    flex: 1;
    width: 70%;
    gap: 10px;
}

.hero.logo {
    flex: 1;
    margin-right: auto;
}

.block-one-info {
    display: flex;
    flex: 1;
    width: 70%;
    gap: 20px;
    padding: 100px 0px;
}

.block-one-image{
    align-self: center;
    text-align: center;
    align-content: center;
    align-self: center;
}

.block-one-text-container{
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    margin-right: auto;
}

