@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0px;
}

ul,a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,.footer,.block-one {
    background: #1f2937;
}

.block-one-image {
    width: 600px; 
    height: 100%;
    background-color: rgb(148, 148, 148);
    color: white;
}

.block-two-image {
    height: 150px;
    outline: solid 4px #3882f6;
    border-radius: 6px;
    margin-bottom: 8px;
}

.block-three {
    background: #e5e7eb;
}

.blue {
    background: #3882f6;
    border-radius: 6px;
    color: #e5e7eb;
}

.hero {color: #f9faf8; margin: 0;}
.hero.title {font-size: 48px; font-weight: 900;}
.hero.logo {font-size: 24px;}

.sec-txt {font-size: 18px; color: #e5e7eb; margin: 0;}

.info {font-size: 36px; color: #1f2937; margin: 0;}
.info.quote {font-weight: lighter; font-style: italic;}
.info.title {font-weight: 900;}

.gray {color: #1f2937; margin: 0;}

.button {
    padding: 8px 30px 8px;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
}

.button.one {
    margin-top: 10px;
}

.button.two {
    border: solid 2px;
}

/* flex implementation block 1 */

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.block-one {
    display: flex;
    justify-content: center;
}

.block-one-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    flex: 0 1 60%;
}

.header, .block-one-info{
    display: flex;
    flex: 0 1 50%;
    gap: 20px;
}

.header {
    flex: 0 1 auto;
}

.hero.logo, .block-one-text-container {
    margin-right: auto;
}

.block-one-info {
    padding: 100px 0px;
}

.block-one-image{
    text-align: center;
    align-content: center;
    flex: 0 1 50%;
}

.block-one-text-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    flex: 0 1 50%;
}

/* flex implementation block 2*/

.block-two {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    align-items: center;
    gap: 50px;
}

.block-two-item-container {
    display: flex;
    padding-bottom: 70px;
    justify-content: center;
    gap: 70px;
    flex: 1 1 50% ;
}

p.gray {font-size: 16px;}

.block-two-item {
    text-align: center;
    flex: 0 0 150px;
}

/* flex implementation block 3*/

.block-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-three-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 825px;
    padding: 70px 0px;
}
h4.gray {align-self: flex-end;
    font-size: 25px;
    margin-right: 0.83em;
}

/* flex implementation block 4*/

.block-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.block-four-container {
    display: flex;
    flex: 0 1 1000px;
    padding: 50px 20px;
    justify-content: space-around;
    gap: 20px;
}

/* flex implementation footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}